<div class="container" style="background-color: rgba(0, 0, 0, 0.90); padding-bottom: 4%;">

	<div class="row">
		<div class="col-md-12">

			<div style="padding: 15px 0;">
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-center" style="color: #ffffff; font-weight: bold;">
							Filter your choice wisely!</h3>
					</div>
				</div>

				<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
					<div class="col-md-6">
						<rzslider rz-slider-model="sliderPrice.minValue"
							rz-slider-high="sliderPrice.maxValue"
							rz-slider-options="sliderPrice.options"></rzslider>
					</div>
					<div class="col-md-6">
						<rzslider rz-slider-model="sliderYear.minValue"
							rz-slider-high="sliderYear.maxValue"
							rz-slider-options="sliderYear.options"></rzslider>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<input ng-model="searchText" class="form-control center-block"
							type="text" placeholder="Search for a specific car model..."
							style="max-width: 500px; margin-top: 25px; margin-bottom: 25px;" />
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">

		<div ng-if="!cars" class="col-md-12 text-center">
			<h3 style="color: #fff; margin: 5% 0;">Unfortunately, there are
				no car offers at the moment :(</h3>
		</div>

		<div ng-repeat="car in cars| filter:searchText 
		| range: 'price' : sliderPrice.minValue : sliderPrice.maxValue
		| range: 'year' : sliderYear.minValue : sliderYear.maxValue"
			class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

			<div class="panel car" style="padding: 15px;">

				<div class="row">
					<div class="panel-title col-md-12"
						style="text-align: center; min-height: 100px;">
						<img src="{{car.imgUrl}}"
							onerror="this.src='https://www.gistnetwork.org/sites/default/files/noimage.png'"
							class="img-responsive center-block"
							style="max-height: 100px;"
							alt="No image found" />
					</div>
				</div>

				<hr />

				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="h2 text-center" style="margin: 0 0 20px 0;">{{car.model}}</div>
						<table class="table table-hover table-responsive">
							<thead>
								<tr class="info">
									<th>Attribute</th>
									<th>Data</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Price:</td>
									<td>{{car.price}}</td>
								</tr>
								<tr>
									<td>HorsePowers:</td>
									<td>{{car.hp}}</td>
								</tr>
								<tr>
									<td>Year:</td>
									<td>{{car.year}}</td>
								</tr>
								<tr>
									<td>Manufacturer:</td>
									<td>{{car.man.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-success btn-block"
                                                        ng-click="ytbDialog(car,'lg')">
							<span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
							Play!
						</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-default btn-block"
							ng-click="carsDataSrv.deleteDataById(car.id,deletionDone)">
							<span class="glyphicon glyphicon-delete" aria-hidden="true"></span>Delete
						</button>
					</div>
				</div>
			</div>
			<!--  
            <div class="comments">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="2" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            -->
		</div>
	</div>
</div>
