<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h1 style="color: #ffffff;">Manufacturers</h1>
        </div>
        <div class="col-md-3">
            <input ng-model="searchText" class="form-control" placeholder="Search for a manufacturer...">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-controller="ManufacturersController">
            <div ng-repeat="manufacturer in manufacturers | filter:searchText"
                 class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <img ng-show="manufacturer.imgUrl === ''"
                             src="http://cdn.flaticon.com/png/256/66599.png"
                             class="img-circle img-responsive" />
                        <img ng-show="manufacturer.imgUrl != ''"
                             src="{{manufacturer.imgUrl}}"
                             class="img-circle img-responsive" />
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Name: {{manufacturer.name}}</h3>
                            </div>
                        </div>
<!--                        <div class="row">
                            <div class="col-md-12">
                                <h4>Rating: </h4>
                            </div>
                        </div>-->
                    </div>
                     <div class="col-md-6 col-md-offset-1">
                        <button type="button" class="btn btn-default"
                                ng-click="manufacturersDataSrv.deleteDataById(manufacturer.id,deletionDone)">
                            <span class="glyphicon glyphicon-delete" aria-hidden="true"></span>Delete
                        </button>
                    </div>
                    <div class="col-md-5">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
