<div class="container">

    <div class="row">
        <div class="col-md-9">
            <h1 style="color: #ffffff;">Manufacturers</h1>
        </div>
        <div class="col-md-3">
            <input ng-model="searchText" class="form-control" placeholder="Search for a manufacturer...">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

			<div class="row">
				<div ng-repeat="manufacturer in manufacturers | filter:searchText"
					class="col-md-6">

					<div class="well">
						<div class="row">
							<div class="col-md-3" style="height: 100px;">
									 
								<img ng-if="manufacturer.imgUrl != ''"
									 src="{{::manufacturer.imgUrl}}"
									 onerror="this.src='http://elsafamaids.net/Media/noimg.jpg';"
									 class="img-responsive"
									 style="max-height: 100px;" />
							</div>
							<div class="col-md-5">
								<div class="row">
									<div class="col-md-12">
										<h3 style="font-weight: bold; margin: 0;">{{::manufacturer.name}}</h3>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<button type="button" class="btn btn-default pull-right" style="opacity: 1;"
									ng-click="manufacturersDataSrv.deleteDataById(manufacturer.id,deletionDone)">
									<span class="glyphicon glyphicon-delete" aria-hidden="true"></span>Delete
								</button>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
    </div>
</div>
