<div class="modal-header map-header">
    
    <div class="modal-title map-title">
        <span class="h4">Manufacturers</span>
        
        <!-- "Close" dialog button -->
        <button ng-click="ok()"
                type="button"
                class="close map-title-close"
                aria-label="Close"
                data-toggle="tooltip"
                data-placement="top"
                data-original-title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
</div>
    <div class="modal-body" map-lazy-load="http://maps.google.com/maps/api/js">
        <map ng-if="mapOpts.render"
             center="[42.7,23.3]"
             zoom-control="true"
             zoom="12">


            <marker ng-repeat="$man in data"
                    id="shopMarkerId{{$man.id}}"
                    position="[{{$man.lat}},{{$man.lon}}]"
                    anchorpoint=""
                    icon="{{getManImagePath($man)}}"
                    shape="{{iconShape}}"
                    on-click="showInfoWindow(event, $man,'shopMarkerId'+$man.shop_id)"
                    title="{{$man.model}}">
            </marker>


        </map>
    </div>

