<div class="modal-header map-header">

    <div class="modal-title map-title">
        <span class="h4">Car clip</span>

        <!-- "Close" dialog button -->
        <button ng-click="ok()"
                type="button"
                class="close map-title-close"
                aria-label="Close"
                data-toggle="tooltip"
                data-placement="top"
                data-original-title="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>
<div class="modal-body" >
<youtube-video video-url="videoUrl" class="center-block"></youtube-video>
</div>

